{% extends "enrollment_data_show/base.html" %}
{% block content %}

    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <h4>Search Student Information</h4>

    {% if message %}
        {{ message }}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" action="{% url 'home' %}">
        {% csrf_token %}
        <label for="customer_key">Customer Key: </label>
        <input type="text" name="customer_key" id="customer_key" required><br>

        <label for="student_id">NSU ID: </label>
        <input type="text" maxlength="10" name="student_id" id="student_id" placeholder="1234567890"><br>

        <label for="student_image_id">NSU ID CARD IMAGE: </label>
        <input type="file" name="student_image_id" id="student_image_id" accept="image/*"><br>

        <button type="submit">Search</button>
    </form>
{% endblock %}